<div class="row d-flex justify-content-center">
  <div class="col-md-6">
    <ul class = "list-unstyled">
      <li>
        Name: <%= @user.first_name %>
        <%= @user.last_name %>
      </li>
      <li>
        Address: <%= @user.address %>
      </li>
      <li>
        email: <%= @user.email %>
      </li>
    </ul>
  </div>
</div>
