.navbar-lewagon {
  justify-content: space-between;
  background: #B1D3A1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#navbar-logo{
  width: 30%;
  height: 30%;
}

.nav-item {
  font-size: 15px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;

}

#greennav{
  background-color: #B1D3A1;
}
