// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

#logo{
  border-radius: 50% 20% / 10% 40%
}

#bg-primary{
  background-color: #427849
}

#navbar{
  background-color: #F3E5CB;
}
